# Database Configuration
DB_HOST=rm-uf6hx49w1f7b6p380co.mysql.rds.aliyuncs.com
DB_PORT=3306
DB_USER=rnm_root
DB_PASSWORD=wX32!m3s
DB_NAME=remote_diagnosis_prototype

# Backend Configuration
# NEXT_PUBLIC_BACKEND_URL=http://localhost:3000

# Node Environment
NODE_ENV=production
